In [12]:
import pandas as pd 
import numpy as np

In [13]:
df=pd.read_csv('imdb-top-1000.csv')
df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [14]:
genre_group=df.groupby('Genre')

In [15]:
genre_earnings = genre_group['Gross'].sum().sort_values(ascending=False)

In [16]:
print(genre_earnings.head(3))

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [17]:
avg_rating = genre_group['IMDB_Rating'].mean().sort_values(ascending=False)

In [18]:
print(avg_rating.head(1))

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [19]:
director=df.groupby('Director')
popularity=director['No_of_Votes'].sum().sort_values(ascending=False)
print(popularity.head(1))

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [27]:
df_sort = df.sort_values('IMDB_Rating', ascending=False)
df_sort = df.groupby('Genre').first()

In [31]:
df_sort = df_sort.reset_index() 
result = df_sort[['Genre', 'Series_Title', 'IMDB_Rating']]
print(result)

        Genre                     Series_Title  IMDB_Rating
0      Action                  The Dark Knight          9.0
1   Adventure                     Interstellar          8.6
2   Animation    Sen to Chihiro no kamikakushi          8.6
3   Biography                 Schindler's List          8.9
4      Comedy                     Gisaengchung          8.6
5       Crime                    The Godfather          9.2
6       Drama         The Shawshank Redemption          9.3
7      Family       E.T. the Extra-Terrestrial          7.8
8     Fantasy     Das Cabinet des Dr. Caligari          8.1
9   Film-Noir                    The Third Man          8.1
10     Horror                           Psycho          8.5
11    Mystery                          Memento          8.4
12   Thriller                  Wait Until Dark          7.8
13    Western  Il buono, il brutto, il cattivo          8.8

In [35]:
actor=df.groupby('Star1').size()

In [36]:
print(actor)

Star1
Aamir Khan              7
Aaron Taylor-Johnson    1
Abhay Deol              1
Abraham Attah           1
Adam Driver             1
                       ..
Zbigniew Zamachowski    1
Zooey Deschanel         1
Çetin Tekindor          1
Éric Toledano           1
Ömer Faruk Sorak        1
Length: 660, dtype: int64

In [ ]:
movie