# LAB ASSIGNMENT 1 Dataset 2 :: Date- 16 Jan 2026
    -Locate missing values and fill them using Mean, Median , Mode and Interpolation
    -Check and remove duplicates
    -Obtain the unique values of a column
    -Make the textual data uniform in case
    -Identify and remove the outliers
    -Perform data normalization
    -Perform data Standardization

In [60]:
import pandas as pd
import numpy as np

In [61]:
df=pd.read_csv('covid.csv')
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,33.93911,67.709953,52513.0,2201.0,41727,8585.0,134.896578,4.191343
1,Albania,41.15330,20.168300,58316.0,1181.0,33634,23501.0,2026.409062,2.025173
2,Algeria,28.03390,1.659600,99897.0,2762.0,67395,29740.0,227.809861,2.764848
3,Andorra,42.50630,1.521800,8117.0,84.0,7463,570.0,10505.403480,1.034865
4,Angola,-11.20270,17.873900,17568.0,405.0,11146,6017.0,53.452981,2.305328

# Locate missing values

In [62]:
df.isnull().sum()

Country_Region          0
Lat                    89
Long_                  89
Confirmed              11
Deaths                  7
Recovered               0
Active                  6
Incident_Rate          89
Case_Fatality_Ratio    48
dtype: int64

# Fill the missing values using Mean, Median , Mode and Interpolation

In [74]:
# mean
numeric_cols = ['Lat', 'Long_','Confirmed','Deaths','Active','Incident_Rate','Case_Fatality_Ratio']
df_mean_filled = df.copy()
for col in numeric_cols:
    df_mean_filled[col].fillna(df_mean_filled[col].mean(), inplace=True)
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
81,CANADA,1.727076,2.417466,-0.775468,-0.741763,567,-1.225249,-2.671021,-0.226581
82,CANADA,3.104833,3.273868,-0.944197,-0.958265,366,-1.229309,-2.671521,-0.725868
84,CANADA,1.332152,2.681893,-0.058969,1.683069,1399,-1.227685,-2.641081,2.817259
87,CANADA,1.715627,2.713760,-1.180897,-1.131468,89,-1.241490,-2.678723,-1.811118
648,US,-1.214100,0.453703,2.133709,1.033561,0,2.156237,0.382834,-0.563042

In [75]:
# median
numeric_cols = ['Confirmed','Deaths','Active','Incident_Rate','Case_Fatality_Ratio']
df_median_filled = df.copy()
for col in numeric_cols:
    df_median_filled[col].fillna(df_median_filled[col].median(), inplace=True)

# mode
    df_mode_filled = df.copy()
for col in df_mode_filled.columns:
    mode_val = df_mode_filled[col].mode()[0]
    df_mode_filled[col].fillna(mode_val, inplace=True)
    
# Interpolation    
df_interpolated = df.copy()
df_interpolated[numeric_cols] = df_interpolated[numeric_cols].interpolate(method='linear', limit_direction='forward', axis=0)

In [76]:
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
81,CANADA,1.727076,2.417466,-0.775468,-0.741763,567,-1.225249,-2.671021,-0.226581
82,CANADA,3.104833,3.273868,-0.944197,-0.958265,366,-1.229309,-2.671521,-0.725868
84,CANADA,1.332152,2.681893,-0.058969,1.683069,1399,-1.227685,-2.641081,2.817259
87,CANADA,1.715627,2.713760,-1.180897,-1.131468,89,-1.241490,-2.678723,-1.811118
648,US,-1.214100,0.453703,2.133709,1.033561,0,2.156237,0.382834,-0.563042

# Check Duplicates

In [65]:
df.duplicated().sum()

32

In [66]:
df = df.drop_duplicates()

In [67]:
df.duplicated().sum()

0

# Unique values

In [68]:
df['Country_Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan*', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'US', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe',
       'Kiribati', 'Palau', 'Summer Olympics 2020', 'Malaysia', 'Tonga',
       'Winter Olympics 2022', 'Antarctica', 'Korea, North', 'Nauru',
       'Tuvalu'], dtype=object)

# Textual data uniform (Gender -> Lower Case)

In [78]:
df['Country_Region'] = df['Country_Region'].str.upper()
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
81,CANADA,1.727076,2.417466,-0.775468,-0.741763,567,-1.225249,-2.671021,-0.226581
82,CANADA,3.104833,3.273868,-0.944197,-0.958265,366,-1.229309,-2.671521,-0.725868
84,CANADA,1.332152,2.681893,-0.058969,1.683069,1399,-1.227685,-2.641081,2.817259
87,CANADA,1.715627,2.713760,-1.180897,-1.131468,89,-1.241490,-2.678723,-1.811118
648,US,-1.214100,0.453703,2.133709,1.033561,0,2.156237,0.382834,-0.563042

# Identify and remove the outliers

In [79]:
numeric_cols = ['Lat', 'Long_','Confirmed','Deaths','Active','Incident_Rate','Case_Fatality_Ratio']
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
print("Shape after removing outliers:", df.shape)
df.head()

Shape after removing outliers: (2063, 9)

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
81,CANADA,1.727076,2.417466,-0.775468,-0.741763,567,-1.225249,-2.671021,-0.226581
87,CANADA,1.715627,2.713760,-1.180897,-1.131468,89,-1.241490,-2.678723,-1.811118
648,US,-1.214100,0.453703,2.133709,1.033561,0,2.156237,0.382834,-0.563042
650,US,-1.354862,0.576007,-0.042976,0.297451,0,-0.040429,-0.203527,0.490656
651,US,-1.118290,0.406898,0.226511,0.860358,0,0.222683,0.664023,0.814203

# Perform data Normalization
    using MinMax scaler on Sleep Hours, Calories Intake, BMI, & Exercise Hours.

In [80]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [81]:
numeric_cols = ['Lat', 'Long_','Confirmed','Deaths','Active','Incident_Rate','Case_Fatality_Ratio']
scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
81,CANADA,0.904700,0.944325,0.132013,0.108434,567,0.005540,0.001438,0.354409
87,CANADA,0.902387,1.000000,0.020462,0.000000,89,0.000923,0.000000,0.000000
648,US,0.310536,0.575324,0.932453,0.602410,0,0.966759,0.571461,0.279154
650,US,0.282100,0.598306,0.333553,0.397590,0,0.342336,0.462013,0.514832
651,US,0.329891,0.566529,0.407701,0.554217,0,0.417128,0.623947,0.587199

# Perform data Standardization
    using Standard scaler on Screen time & Exam score.

In [82]:
numeric_cols = ['Lat', 'Long_','Confirmed','Deaths','Active','Incident_Rate','Case_Fatality_Ratio']
scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
81,CANADA,1.741363,2.545964,-0.765859,-0.726751,567,-1.301879,-2.720736,-0.212137
87,CANADA,1.729832,2.861023,-1.244930,-1.180424,89,-1.321132,-2.728559,-1.837234
648,US,-1.220686,0.457833,2.671734,1.339980,0,2.706588,0.380876,-0.557211
650,US,-1.362447,0.587883,0.099681,0.483043,0,0.102624,-0.214654,0.523459
651,US,-1.124196,0.408063,0.418117,1.138348,0,0.414523,0.666463,0.855288