# LAB ASSIGNMENT 1 Dataset 1 :: Date- 16 Jan 2026
    -Locate missing values and fill them using Mean, Median , Mode and Interpolation
    -Check and remove duplicates
    -Obtain the unique values of a column
    -Make the textual data uniform in case
    -Identify and remove the outliers
    -Perform data normalization
    -Perform data Standardization

In [42]:
import pandas as pd
import numpy as np

In [43]:
df=pd.read_csv('student_health_lifestyle_dataset.csv')
df.head()

,Student_ID,Age,Gender,Sleep_Hours,Calories_Intake,Stress_Level,Exercise_Hours,BMI,Screen_Time,Exam_Score
0,1,23,Male,7.0,2015.0,4,3.6,15.9,4.7,77.8
1,2,20,Female,3.7,1758.0,6,2.2,NaN,0.9,53.3
2,3,24,Female,7.9,NaN,6,1.8,17.7,6.5,59.9
3,4,21,Male,5.7,1575.0,1,NaN,22.1,7.2,76.2
4,5,23,Other,8.3,1389.0,8,1.8,27.3,1.6,80.2

# Locate missing values

In [44]:
df.isnull().sum()

Student_ID          0
Age                 0
Gender              0
Sleep_Hours        15
Calories_Intake    15
Stress_Level        0
Exercise_Hours     15
BMI                15
Screen_Time         0
Exam_Score          0
dtype: int64

# Fill the missing values using Mean, Median , Mode and Interpolation

In [45]:
df['Calories_Intake'] = df['Calories_Intake'].interpolate()
df['Sleep_Hours'].fillna(df['Sleep_Hours'].mean(), inplace=True)
df['BMI'].fillna(df['BMI'].mean(), inplace=True)
df['Exercise_Hours'].fillna(df['Exercise_Hours'].median(), inplace=True)

In [46]:
df.head()

,Student_ID,Age,Gender,Sleep_Hours,Calories_Intake,Stress_Level,Exercise_Hours,BMI,Screen_Time,Exam_Score
0,1,23,Male,7.0,2015.0,4,3.6,15.900000,4.7,77.8
1,2,20,Female,3.7,1758.0,6,2.2,23.208148,0.9,53.3
2,3,24,Female,7.9,1666.5,6,1.8,17.700000,6.5,59.9
3,4,21,Male,5.7,1575.0,1,1.4,22.100000,7.2,76.2
4,5,23,Other,8.3,1389.0,8,1.8,27.300000,1.6,80.2

# Check Duplicates

In [47]:
df.duplicated().sum()

0

'df = df.drop_duplicates()'

there is no duplicate, so we are not using drop

# Unique values

In [48]:
df['Gender'].unique()

array(['Male', 'Female', 'Other', 'FEMALE', 'femlae', 'male'],
      dtype=object)

In [49]:
df['Gender'] = df['Gender'].replace({'female':'Female','Femlae': 'Female', 'femlae': 'Female'})

In [50]:
df['Gender'].unique()

array(['Male', 'Female', 'Other', 'FEMALE', 'male'], dtype=object)

# Textual data uniform (Gender -> Lower Case)

In [51]:
df['Gender'] = df['Gender'].str.lower()
df.head()

,Student_ID,Age,Gender,Sleep_Hours,Calories_Intake,Stress_Level,Exercise_Hours,BMI,Screen_Time,Exam_Score
0,1,23,male,7.0,2015.0,4,3.6,15.900000,4.7,77.8
1,2,20,female,3.7,1758.0,6,2.2,23.208148,0.9,53.3
2,3,24,female,7.9,1666.5,6,1.8,17.700000,6.5,59.9
3,4,21,male,5.7,1575.0,1,1.4,22.100000,7.2,76.2
4,5,23,other,8.3,1389.0,8,1.8,27.300000,1.6,80.2

# Identify and remove the outliers

In [52]:
Q1 = df['BMI'].quantile(0.25)
Q3 = df['BMI'].quantile(0.75)
IQR = Q3 - Q1

df = df[(df['BMI'] >= Q1 - 1.5 * IQR) & (df['BMI'] <= Q3 + 1.5 * IQR)]
df.tail(20)

,Student_ID,Age,Gender,Sleep_Hours,Calories_Intake,Stress_Level,Exercise_Hours,BMI,Screen_Time,Exam_Score
130,131,25,male,4.800000,2021.0,3,1.6,29.000000,1.7,83.8
131,132,25,male,7.600000,3504.0,3,1.7,23.900000,4.9,66.4
132,133,20,female,5.700000,3138.0,4,2.2,24.100000,4.7,66.7
133,134,25,male,2.800000,3294.5,4,-0.3,21.400000,7.1,79.0
134,135,19,male,6.421481,3451.0,10,1.4,25.200000,0.5,79.0
135,136,23,female,6.421481,3035.0,5,0.7,23.200000,5.5,61.6
136,137,22,male,6.421481,995.0,4,-0.5,27.800000,2.7,-5.0
137,138,24,male,6.100000,2840.0,10,2.7,17.200000,5.6,63.3
138,139,25,male,6.421481,2433.0,8,1.1,23.700000,5.7,91.8
139,140,21,male,7.100000,2026.0,6,1.8,24.600000,4.8,60.1
140,141,17,female,6.100000,1351.0,6,1.7,22.300000,6.6,72.9
141,142,19,male,6.300000,2557.0,8,1.1,21.400000,2.5,60.6
142,143,24,female,6.421481,953.0,7,1.4,21.500000,7.2,96.7
143,144,22,male,4.900000,2187.0,10,1.4,23.700000,3.6,55.1
144,145,24,female,5.400000,1830.0,10,-0.4,15.800000,1.9,76.3
145,146,25,male,5.000000,1445.0,8,1.0,23.208148,4.5,61.2
146,147,20,male,8.700000,2913.0,2,2.1,23.208148,0.8,65.8
147,148,17,other,5.400000,2175.0,9,2.1,23.500000,5.5,75.4
148,149,17,female,6.300000,2304.0,1,0.2,24.500000,4.5,84.7
149,150,20,female,5.600000,2745.0,8,2.6,20.900000,7.5,89.5

# Perform data Normalization
    using MinMax scaler on Sleep Hours, Calories Intake, BMI, & Exercise Hours.

In [53]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [54]:
scaler = MinMaxScaler()
df[['Sleep_Hours','Calories_Intake','BMI','Exercise_Hours']] = scaler.fit_transform(
    df[['Sleep_Hours','Calories_Intake','BMI','Exercise_Hours']]
)
df.head()

,Student_ID,Age,Gender,Sleep_Hours,Calories_Intake,Stress_Level,Exercise_Hours,BMI,Screen_Time,Exam_Score
0,1,23,male,0.670732,0.261166,4,0.841270,0.145078,4.7,77.8
1,2,20,female,0.268293,0.212528,6,0.619048,0.523738,0.9,53.3
2,3,24,female,0.780488,0.195212,6,0.555556,0.238342,6.5,59.9
3,4,21,male,0.512195,0.177896,1,0.492063,0.466321,7.2,76.2
4,5,23,other,0.829268,0.142695,8,0.555556,0.735751,1.6,80.2

# Perform data Standardization
    using Standard scaler on Screen time & Exam score.

In [55]:
scaler = StandardScaler()
df[['Exam_Score','Screen_Time']] = scaler.fit_transform(
    df[['Exam_Score','Screen_Time']]
)

In [56]:
df

,Student_ID,Age,Gender,Sleep_Hours,Calories_Intake,Stress_Level,Exercise_Hours,BMI,Screen_Time,Exam_Score
0,1,23,male,0.670732,0.261166,4,0.841270,0.145078,-0.194879,0.488800
1,2,20,female,0.268293,0.212528,6,0.619048,0.523738,-2.194473,-1.179432
2,3,24,female,0.780488,0.195212,6,0.555556,0.238342,0.752297,-0.730030
3,4,21,male,0.512195,0.177896,1,0.492063,0.466321,1.120644,0.379854
4,5,23,other,0.829268,0.142695,8,0.555556,0.735751,-1.826127,0.652219
...,...,...,...,...,...,...,...,...,...,...
145,146,25,male,0.426829,0.153293,8,0.428571,0.523738,-0.300121,-0.641512
146,147,20,male,0.878049,0.431113,2,0.603175,0.523738,-2.247094,-0.328293
147,148,17,other,0.475610,0.291446,9,0.603175,0.538860,0.226088,0.325382
148,149,17,female,0.585366,0.315859,1,0.301587,0.590674,-0.300121,0.958629
149,150,20,female,0.500000,0.399319,8,0.682540,0.404145,1.278506,1.285466